# Ignore node_modules directory
node_modules

# Ignore local development logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore build output
/dist
/.next
/out

# Ignore any other temporary files or directories
*.swp
*.tmp
*.temp
*.log

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore any other files or directories you don't want in the image
.git
.gitignore
.DS_Store
