---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About"
  description=""
  pubDate={new Date("October 05 2024")}
  heroImage="/matiasg.png"
>
  <p>
    Hi, my name is Matias. I'm a software developer, but I'm passionate about a
    lot of stuff :)
  </p>
</Layout>
